@model IEnumerable<SAC.Models.Quejas>

@{
    Layout = "~/Views/Shared/_Panel_Layout.cshtml";
    ViewBag.Title = "Sugerencias";
}


<div class="container-fluid">
    <div class="col-md-12" style="padding-top:1em">
        <h2><strong>Quejas y sugerencias</strong></h2>
        <form action="~/Casos/Index" method="get">
            <div class="form-inline text-center">

                <div class="form-group text-left">
                    <label >Fecha Inicial:</label>
                    <br />
                    <input type="date" name="FechaIni" id="FechaIni" value="@DateTime.UtcNow.AddDays(-30).ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                <div class="form-group text-left" style="margin-left:2em">
                    <label>Fecha Final:</label>
                    <br />
                    <input type="date" name="FechaFin:" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                <div class="form-group text-left" style="padding-left:2em">
                    <label class="">Estado</label>
                    <br />
                    <select class="form-control" name="Estado">
                        <option value="0" selected>-- Todos --</option>
                        @foreach (SAC.Models.Resoluciones.Estados_Casos e in ViewBag.Estados)
                        {
                            var Selected = e.Codigo_Estado == 0 ? "selected" : "";

                            <option value="@e.Codigo_Estado" @Selected>@e.Nombre_Estado</option>
                        }

                    </select>
                    <input data-ajax="true" type="submit" class="btn btn-info" value="Filtar" />
                </div>

            </div>
        </form>
    </div>
</div>
<br />
<br />
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-condensed display" id="table-sugerencias">
            <thead>
                <tr class="cabecera">
                    <th>
                        Empleado
                    </th>
                    <th style="width:30%">
                        Sugerencia
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:20%">
                            @Html.DisplayFor(modelItem => item.Empleado)
                        </td>
                        <td>
                            @{
                                if (item.Queja.Length > 60)
                                {
                                    @item.Queja.Substring(0, 60);
                                }
                                else
                                { @item.Queja.ToString();
                            }
                            }
                        </td>
                        <td style="width:10%">
                            @item.Fecha.ToShortDateString()
                        </td>
                        <td style="width:30%">
                            <button type="button" id="CodigoQueja" onclick="return verComentario('@item.CodigoQueja')" class="btn btn-secondary btn-sm btn-dt">Detalle</button>
                            <a href="~/Casos/Create/?codigo=@item.CodigoQueja" class="btn btn-primary btn-sm">Crear Caso</a>
                            @*<div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Ir al Caso
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown link</a></li>
                                </ul>
                            </div>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-12">
    <button type="button" id="btnExport" class="btn btn-default">
        <i class="fa fa-table" aria-hidden="true"> </i> Exportar a Excel
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="200" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="col-md-2 col-xs-2 col-xs-4">
                    <img src="~/Content/img/icons8-mailbox-480.png" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-10 col-sm-10 col-xs-8 ">
                    <h3 class="modal-title" id="exampleModalLabel">Queja o Sugerencia!</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p id="sugerencia-text">
                            Tu sugerencia a sido enviada, Gracias por tu apoyo pronto estaremos mejorando para ti!
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/highcharts.src.js"></script>

    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/series-label.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/export-data.js"></script>

    @*<script type="text/javascript" charset="utf8" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>*@
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#table-sugerencias').DataTable({
                //dom: 'Bfrtip',
                //buttons: [
                //    'copy', 'csv', 'excel', 'pdf'
                //],
                "order": [[2, "desc"]],

            });
            //Graficos();
            //setInterval(Graficos, 5000);


            $('#btnExport').click(function () {
                window.location = '/Sugerencias/ExportSugerencias';
            });
        });


        function verComentario(id) {
            $.ajax({
                url: "/sugerencias/Details/?id=" + id,
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                type: "GET",
                success: function (result) {
                    if (result != 'undefined') {
                        $('#exampleModal').modal('show');
                        var Sug = '<strong> Empleado </strong>:<br> ' + result.Empleado + '<br> <strong> Comentario </strong>:<br><div class="form-group"> <textarea  rows="10" cols="50" class="form-control disabled">' + result.Queja + '</textarea></div><br> <strong>Fecha: </strong>'
                            + new Date(parseInt(result.Fecha.replace(/[^0-9 +]/g, ''))).toLocaleString();
                        $("#sugerencia-text").html(Sug);

                        // alert("El correo se envio exitosamente!");
                    } else {
                        $("#alerta-correo").hide().removeClass('hidden').slideDown('fast');
                        $("#alerta-correo").html("Ocurrio una falla, intente nuevamente!");
                        $("#alerta-correo").fadeOut(3500);
                    }
                    // $("#risultato").html(msg);
                    //clearForm("#frmSugerencia");
                },
                error: function () {
                    alert("ocurrio una falla, intente nuevamente!.");
                }
            });
        }
    </script>
}