@model IEnumerable<SAC.Models.Quejas>

@{
    ViewBag.Title = "lista";
}
<div class="lista-sugerencias">

    <div class="col-md-5">
        <div class="text-center">
            <h2><strong>Quejas y sugerencias</strong></h2>
        </div>
        <div class="panel panel-default" style="margin-top:0.3em">
            <div class="panel-heading" style="background-color:darkgreen"></div>
            <div class="panel-body">
                <div id="container" style="height: 250px;"></div>
                @*<div id="myfirstchart" style="height: 250px;"></div>*@
            </div>
        </div>
    </div>
    <div class="col-md-7 ">
        <div class="table-responsive">
            <table class="table table-condensed display" id="table-sugerencias">
                <thead>
                    <tr class="cabecera">
                        <th>
                            Empleado
                        </th>
                        <th style="width:40%">
                            Sugerencia
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:20%">
                                @Html.DisplayFor(modelItem => item.Empleado)
                            </td>
                            <td>
                                @{
                                    if (item.Queja.Length > 60)
                                    {
                                        @item.Queja.Substring(0, 60);
                                    }
                                    else
                                    { @item.Queja.ToString();
                                }
                                }
                            </td>
                            <td style="width:10%">
                                @item.Fecha.ToShortDateString()
                            </td>
                            <td style="width:10%">
                                <button type="button" id="CodigoQueja" onclick="return verComentario('@item.CodigoQueja')" class="btn btn-secondary btn-sm btn-dt">Detalle</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button type="button" id="btnExport" class="btn btn-default">
            <i class="fa fa-table" aria-hidden="true"> </i> Exportar a Excel
        </button>
    </div>
 
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="200" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="col-md-2 col-xs-2 col-xs-4">
                    <img src="~/Content/img/icons8-mailbox-480.png" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-10 col-sm-10 col-xs-8 ">
                    <h3 class="modal-title" id="exampleModalLabel">Queja o Sugerencia!</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p id="sugerencia-text">
                            Tu sugerencia a sido enviada, Gracias por tu apoyo pronto estaremos mejorando para ti!
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/highcharts.src.js"></script>

    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/series-label.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.highcharts.com/modules/export-data.js"></script>

    @*<script type="text/javascript" charset="utf8" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>*@
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#table-sugerencias').DataTable({
                //dom: 'Bfrtip',
                //buttons: [
                //    'copy', 'csv', 'excel', 'pdf'
                //],
                "order": [[2, "desc"]],

            });
            Graficos();
            setInterval(Graficos, 5000);


            $('#btnExport').click(function () {
                window.location = '/Sugerencias/ExportSugerencias';
            });
        });


        function verComentario(id) {
            $.ajax({
                url: "/sugerencias/Details/?id=" + id,
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                type: "GET",
                success: function (result) {
                    if (result != 'undefined') {
                        $('#exampleModal').modal('show');
                        var Sug = '<strong> Empleado </strong>:<br> ' + result.Empleado + '<br> <strong> Comentario </strong>:<br><div class="form-group"> <textarea  rows="10" cols="50" class="form-control disabled">' + result.Queja + '</textarea></div><br> <strong>Fecha: </strong>'
                            + new Date(parseInt(result.Fecha.replace(/[^0-9 +]/g, ''))).toLocaleString();
                        $("#sugerencia-text").html(Sug);

                        // alert("El correo se envio exitosamente!");
                    } else {
                        $("#alerta-correo").hide().removeClass('hidden').slideDown('fast');
                        $("#alerta-correo").html("Ocurrio una falla, intente nuevamente!");
                        $("#alerta-correo").fadeOut(3500);
                    }
                    // $("#risultato").html(msg);
                    //clearForm("#frmSugerencia");
                },
                error: function () {
                    alert("ocurrio una falla, intente nuevamente!.");
                }
            });
        }


        function Graficos() {
            $.ajax({
                url: "/sugerencias/Graficos/",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                type: "POST",
                success: function (result) {
                    if (result != 'undefined') {
                        Highcharts.chart('container', {

                            title: {
                                text: 'Historicos Por meses'
                            },

                            subtitle: {
                                text: 'Source: Paisas SAC 2018'
                            },

                            yAxis: {
                                title: {
                                    text: 'Quejas o Sugerencias'
                                }
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'
                            },
                            xAxis: {
                                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                            },
                            //plotOptions: {
                            //    series: {
                            //        label: {
                            //            connectorAllowed: false
                            //        },
                            //        pointStart: 2010
                            //    }
                            //},

                            series:
                                [
                            {
                                name: 'Clientes',
                                data: result[0]
                              },
                            {
                                name: 'Empleados',
                                data: result[1]
                                    },
                             {
                                name: 'Proveedores',
                                data: result[2]
                              }, //{
                                //    name: 'Sales & Distribution',
                                //    data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
                                //}, {
                                //    name: 'Project Development',
                                //    data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
                                //}, {
                                //    name: 'Other',
                                //    data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
                                //
                                    //}
                                ],
                            responsive: {
                                rules: [{
                                    condition: {
                                        maxWidth: 500
                                    },
                                    chartOptions: {
                                        legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                        }
                                    }
                                }]
                            }

                        });
                    }
                },
                error: function () {
                    window.location.href = "@Url.Action("Login", "Login")";
                }
            });
        }
        //new Morris.Line({
        //    // ID of the element in which to draw the chart.
        //    element: 'myfirstchart',
        //    // Chart data records -- each entry in this array corresponds to a point on
        //    // the chart.
        //    data: [
        //        { year: '2008', value: 20 },
        //        { year: '2009', value: 10 },
        //        { year: '2010', value: 5 },
        //        { year: '2011', value: 5 },
        //        { year: '2012', value: 20 }
        //    ],
        //    // The name of the data record attribute that contains x-values.
        //    xkey: 'year',
        //    // A list of names of data record attributes that contain y-values.
        //    ykeys: ['value'],
        //    // Labels for the ykeys -- will be displayed when you hover over the
        //    // chart.
        //    labels: ['Value']
        //});

        //Highcharts.chart('container', {

        //    title: {
        //        text: 'Historicos Por mes'
        //    },

        //    subtitle: {
        //        text: 'Source: Paisas SAC 2018'
        //    },

        //    yAxis: {
        //        title: {
        //            text: 'Quejas o Sugerencias'
        //        }
        //    },
        //    legend: {
        //        layout: 'vertical',
        //        align: 'right',
        //        verticalAlign: 'middle'
        //    },
        //    xAxis: {
        //        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', /*'Sep', 'Oct', 'Nov', 'Dec'*/]
        //    },
        //    //plotOptions: {
        //    //    series: {
        //    //        label: {
        //    //            connectorAllowed: false
        //    //        },
        //    //        pointStart: 2010
        //    //    }
        //    //},

        //    series: [{
        //        name: 'Clientes',
        //        data: r
        //    }, {
        //        name: 'Empleados',
        //        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
        //    }, {
        //    //    name: 'Sales & Distribution',
        //    //    data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
        //    //}, {
        //    //    name: 'Project Development',
        //    //    data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
        //    //}, {
        //    //    name: 'Other',
        //    //    data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
        //        //
        //    }],

        //    responsive: {
        //        rules: [{
        //            condition: {
        //                maxWidth: 500
        //            },
        //            chartOptions: {
        //                legend: {
        //                    layout: 'horizontal',
        //                    align: 'center',
        //                    verticalAlign: 'bottom'
        //                }
        //            }
        //        }]
        //    }

        //});
    </script>
}