@model List<SAC.Models.Resoluciones.Casos>

@{
    Layout = "~/Views/Shared/_Panel_Layout.cshtml";
}
<h2><strong>Mis Casos</strong></h2>
<div class="container-fluid">
    <div class="col-md-12 " style="padding-top:2em">
        <form action="~/Casos/Index" method="get">
            <div class="form-inline text-center">
               
                <div class="form-group">
                    <label>Fecha Inicial</label>
                    <input type="date" name="FechaIni" id="FechaIni" value="@DateTime.UtcNow.AddDays(-30).ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                <div class="form-group" style="margin-left:2em">
                    <label>Fecha Final</label>
                    <input type="date" name="FechaFin" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                <div class="form-group" style="padding-left:2em">
                    <label class="">Estado</label>
                    <select class="form-control" name="Estado">
                        <option value="0" selected>-- Todos --</option>
                        @foreach (SAC.Models.Resoluciones.Estados_Casos e in ViewBag.Estados)
                        {
                            var Selected = e.Codigo_Estado == 0 ? "selected" : "";
                            <option value="@e.Codigo_Estado" @Selected>@e.Nombre_Estado</option>
                        }

                    </select>
                    <input data-ajax="true" type="submit" class="btn btn-info" value="Filtar" />
                </div>

            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-12 " style="margin-top:5vh;">
        <div class="table-responsive">
            <table class="table table-condensed display" id="table-casos">
                <thead>
                    <tr class="cabecera">

                        <th width="10">
                            No.Caso
                        </th>
                        <th width="10">
                            No.Sugerencia
                        </th>
                        <th>
                            Responsable
                        </th>
                        <th>
                            Comentario
                        </th>
                        <th width="100">
                            Fecha
                        </th>
                        <th width="10">
                            Estado
                        </th>
                        <th width="10"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id_Caso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo_Queja)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo_Responsable)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comentario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha_Creacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo_Estado)
                            </td>
                            <td>
                                <a href="~/Casos/Resolucion/?caso=@item.Id_Caso" id=@item.Id_Caso class="btn btn-info">ir</a>
                            </td>
                        </tr>
                    }
                <tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#table-casos').DataTable({
                //dom: 'Bfrtip',
                //buttons: [
                //    'copy', 'csv', 'excel', 'pdf'
                //],
                "order": [[4, "desc"]],
            });
        });
    </script>
}
