@model SAC.Models.Resoluciones.CasoVista
@{

    Layout = "~/Views/Shared/_Panel_Layout.cshtml";
    var Tipos = (List<SAC.Models.TiposQuejas>)ViewBag.Tipos;
    var Estados = (List<SAC.Models.Resoluciones.Estados_Casos>)ViewBag.Estados;
    int Count = 0;
    int Roll_Caso = ViewBag.Roll_Caso;
    string resp = "";
}
<div class="container-fluid" style="margin-top:1vh">

    <div class="col-md-8">
        <h4>Gestion de Resolucion caso No. @Model._Caso.Id_Caso</h4>
        <form action="~/Casos/GuardarCaso" data-ajax-method="post" 
                 data-ajax="true"
                 data-ajax-success="OnAjaxSuccess"
                 data-ajax-begin="onAjaxBegin"
                 data-ajax-complete="onAjaxComplete" id="frm-Asignaciones"
                 data-ajax-failure="failed"
              >
            <input type="text" name="Id_Caso" value="@Model._Caso.Id_Caso" id="Id_caso" class="hidden" />
            <input type="text" name="Codigo_Queja" value="@Model._Caso.Codigo_Queja" id="Id_caso" class="hidden" />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <i class="media-object fa fa-user" aria-hidden="true"></i> @Model._Queja.Empleado
                        <span class="pull-right">
                            <strong>Tipo: </strong> @Tipos.Find(x => x.CodigoTipoQueja == @Model._Queja.CodigoTipo).Descripcion
                            <strong>Area: </strong> @Model._Areas.Find(x => x.CodigoArea == Model._Queja.CodigoDepartamento).NombreArea.ToString()
                            <a id="ocultar_reclasificacion" class="btn"><i id="btnClasifi" class="fas fa-minus-square"></i></a>
                        </span>

                    </div>
                </div>
                <div class="panel-heading " style="padding:1em" id="panel-reclasificacion">
                    <div>
                        <i class="media-object fa fa-user" aria-hidden="true"></i> Re-Clasificacion Caso
                      @{ 
                          string enable = "";
                          if (!Models.Commons.FrontUser.TienePermiso(Models.Commons.RolesPermisos.Crear_Casos)) {
                              enable = "disabled";
                          }

                      }

                                        
                         
                        
                      
                        <div class="form-inline pull-right">
                            <div class="form-group form-group-sm">

                                <strong>Tipo: </strong>
                                <select @enable class="form-control form-group-sm" id="CodigoTipo" name="CodigoTipo">
                                    @foreach (SAC.Models.TiposQuejas r in Tipos)
                                    {
                                        var _Selected = @Model._Caso.CodigoTipo == r.CodigoTipoQueja ? "Selected" : "";
                                        <option value="@r.CodigoTipoQueja" @_Selected>@r.Descripcion</option>
                                    }
                                </select>
                                <strong>Area: </strong>
                                <select @enable class="form-control form-group-sm" id="CodigoDepartamento" name="CodigoDepartamento">
                                    @foreach (SAC.Models.Area r in Model._Areas)
                                    {
                                        var _Selected = @Model._Caso.CodigoDepartamento == r.CodigoArea ? "Selected" : "";
                                        <option value="@r.CodigoArea" @_Selected>@r.NombreArea</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
               

                <div class="panel-body">
                    <div class="col-md-12" style="padding:1em">
                        <p class="text-left text-info">
                            @Model._Queja.Queja
                        </p>
                    </div>

                    <div class="col-md-6">
                        <span>Responsable:</span>
                        <div class="input-group-sm">
                            @{
                                <select class="chosen" multiple="true" style="width:100%;" name="Responsable[]" id="Responsable">


                                    @foreach (var r in Model._Observadores)
                                    {
                                        var selected = @r.Select == true && r.Id_Rol == 1 ? "selected" : "";
                                        <option value="@r.Id_Usuario" @selected >@r.Usuario</option>
                                    }
                                </select>
                            }

                        </div>
                    </div>


                    <div class="col-md-6">
                        <span>Observadores:</span>
                        <div class="input-group-sm">
                            <select class="chosen" multiple="true" style="width:100%;" name="Observadores[]" id="Observadores">
                                @foreach (var r in Model._Observadores)
                                {
                                    var selected = @r.Select == true && r.Id_Rol == 2 ? "selected" : "";
                                    <option value="@r.Id_Usuario" @selected >@r.Usuario</option>
                                }
                            </select>
                        </div>
                    </div>
                    @if (Models.Commons.FrontUser.TienePermiso(Models.Commons.RolesPermisos.Crear_Casos) && Model._Caso.Codigo_Estado == 1) {
                    <div class="col-md-12" style="margin-top:1em">
                        <input type="submit" data-ajax="true"
                               value="Guardar" class="btn btn-primary pull-right" />
                    </div>
                    }
                </div>

            </div>
        </form>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            @{if (Model._Caso.Codigo_Responsable != 0)
                {
                    resp = Model._Observadores.Where(x => x.Id_Usuario == Model._Caso.Codigo_Responsable).FirstOrDefault().Usuario;
                }
            <div class="panel-heading">
                <i class="fa fa-gavel" aria-hidden="true"></i> <strong>Responsable de Resolución: </strong>@resp
            </div>
            }

            <div class="panel-body">
                @{
                    string action = "";
                    action = "action='~/Casos/GuardarResolucion'";

                }
                <form class="form-horizontal" style="padding:1em" action="~/Casos/GuardarResolucion"data-ajax-method="post" 
                 data-ajax="true"
                 data-ajax-success="OnAjaxSuccess"
                 data-ajax-begin="onAjaxBegin"
                 data-ajax-complete="onAjaxComplete" id="frm-Resolucion"
                 data-ajax-failure="failed">
                    <div class="form-group">
                        <input class="hide" name="Id_Caso" id="Id_Caso" value="@Model._Caso.Id_Caso" @action />
                        <input class="hide" name="Codigo_Responsable" id="Codigo_Responsable" value="@Model._Caso.Codigo_Responsable" />
                        @{  string requerido = "";
                            if (Model._Caso.Codigo_Estado == 2)
                            {
                               requerido = "required";
                            }
                            }
                        <textarea id="Comentario" name="Comentario"  @requerido  rows="7" cols="50" class="form-control text-left">@Model._Caso.Comentario</textarea>
                    </div>
                    <div class="form-inline col-sm-12 col-xs-12" style="padding-left:0;margin-left:0">
                        <select class="form-control" disabled>
                            @foreach (SAC.Models.Resoluciones.Estados_Casos r in Estados)
                            {
                                var _Selected = @Model._Caso.Codigo_Estado == r.Codigo_Estado ? "Selected" : "";
                                <option value="@r.Codigo_Estado" @_Selected>@r.Nombre_Estado</option>
                            }
                        </select>

                        @if (Estados.Find(x => x.Codigo_Estado == Model._Caso.Codigo_Estado).Codigo_Estado == 1) //Cuando el caso no este cerrado
                        {
                            if (Roll_Caso == 1)
                            {
                                <button type="submit" data-ajax="true"
                                        data-ajax-OnBegin="onAjaxBegin"
                                        data-ajax-OnComplete="onAjaxComplete"
                                        data-ajax-failure="failed"
                                        id="Codigo_Estado"
                                        name="Codigo_Estado"
                                        value="2"
                                        class="btn btn-success pull-right">
                                    Iniciar
                                </button>
                            }
                        }
                       @if (Roll_Caso == 1)
                        {
                        if ((!Estados.Find(x => x.Codigo_Estado == Model._Caso.Codigo_Estado).Escierre) && Model._Caso.Codigo_Estado == 2) //Cuando el caso este Activo
                        {
                            <select class="form-control" id="Codigo_Estado" name="Codigo_Estado">
                                @foreach (SAC.Models.Resoluciones.Estados_Casos r in Estados.Where(x => x.Escierre == true))
                                {
                                    var _Selected = @Model._Caso.Codigo_Estado == r.Codigo_Estado ? "Selected" : "";
                                    <option value="@r.Codigo_Estado" @_Selected>@r.Nombre_Estado</option>
                                }
                            </select>


                            <button type="submit" data-ajax="true"
                                    data-ajax-OnBegin="onAjaxBegin"
                                    data-ajax-OnComplete="onAjaxComplete"
                                    data-ajax-failure="failed"
                                    class="btn btn-success pull-right">
                                Finalizar
                            </button>

                        }
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*Comentarios*@
    <div id="dvComentarios" class="col-md-4">
        @{
            Html.RenderPartial("Comentarios", @Model._Comentarios, new ViewDataDictionary { { "Roll_Caso", Roll_Caso }, { "Caso", Model._Caso.Id_Caso}} );
        }
 
    </div>
</div>





@section scripts {

    <script src="~/Scripts/js/chosen.jquery.js"></script>

    <script>
        jQuery(document).ready(function () {
            jQuery(".chosen").data("placeholder", "Select ...").chosen();

            gotoBottom("comentarios_scroll");

            $('#ocultar_reclasificacion').click(function () {
                var panel = $('#panel-reclasificacion');
                var btnClass = $('#btnClasifi');
                if (panel.hasClass('collapse')) {
                    panel.removeClass('fade-in collapse');
                    btnClass.removeClass('fa-plus-square');
                    btnClass.addClass('fa-minus-square');
                }
                else {
                    panel.addClass('collapse')
                    btnClass.addClass('fa-plus-square');
                    btnClass.removeClass('fa-minus-square');
                }

            });
            $.validator.unobtrusive.parse("#frm-Asignaciones");
        });

        function gotoBottom(id) {
            var element = document.getElementById(id);
            element.scrollTop = element.scrollHeight - element.clientHeight;
        }
        function OnAjaxSuccess(context) {
            if (context == "Resolucion") {
                asyncCall();
            } else {
                new PNotify({
                    title: 'Mensaje de SAC',
                    text: context,
                    type: 'info',
                    styling: 'bootstrap3'
                });
            }
        }
        async function asyncCall() {

            new PNotify({
                title: 'Mensaje de SAC',
                text: "Se actualizo la información",
                type: 'info',
                styling: 'bootstrap3'
            });
            window.location.href = await sleep();
        }

         function sleep() {
                    return new Promise(Redirect => {
                        setTimeout(() => {
                            Redirect("/Casos/Resolucion/?Caso=@Model._Caso.Id_Caso");
                        }, 3000);
                    });
                }
        function onAjaxBegin(context) {

        }

        function onAjaxComplete(context) {

        }

        failed = function (xhr) {

        };

    </script>

}
