@model SAC.Models.Usuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Panel_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Model.Img" class="img-rounded img-responsive" alt="Alternate Text" style="width:200px" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            ******
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodigoUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
